services:
  #  mongo:
  #    container_name: snapcart-mongodb
  #    image: mongo:latest
  #    ports:
  #      - "27000:27017"
  #    environment:
  #      MONGO_INITDB_DATABASE: snapcart
  #    volumes:
  #      - mongo-data:/data/db
  #    command: >
  #      mongod
  #      --quiet
  #      --logpath /dev/null
  #
  #  redis:
  #    container_name: snapcart-redis
  #    image: redis:latest
  #    ports:
  #      - "6379:6379"

  frontend:
    container_name: snapcart-frontend
    build:
      context: ./client
      dockerfile: Dockerfile.dev
    volumes:
      - ./client:/app/
      - /app/node_modules
    ports:
      - "3000:5173"

#  backend:
#    container_name: snapcart-backend
#    build:
#      context: ./server
#      dockerfile: Dockerfile.dev
#    environment:
#      - PORT=3000
#    volumes:
#      - ./server:/app/
#      - /app/node_modules

  backend:
    container_name: snapcart-backend
    build:
      context: ./backend
      dockerfile: Dockerfile.dev
    environment:
      - PORT=4000
    volumes:
      - ./backend:/app/
      - /app/node_modules

  nginx:
    container_name: snapcart-nginx
    build:
      context: ./nginx
      dockerfile: Dockerfile
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx/nginx-dev.conf:/etc/nginx/conf.d/default.conf
      - ./nginx/certs:/etc/nginx/certs
    depends_on:
      - backend
    logging:
      driver: "none"

volumes:
  certbot-www:
  mongo-data:
