services:
  postgres:
    container_name: snapcart-postgres
    image: postgres:latest
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: snapcart
    command:
      - postgres
      - -c
      - log_statement=none
      - -c
      - log_min_messages=panic

  redis:
    container_name: snapcart-redis
    image: redis:latest
    ports:
      - "6379:6379"

  api:
    container_name: snapcart-api
    build:
      context: ./apps/api
      dockerfile: Dockerfile.dev
    environment:
      - PORT=4000
      - REDIS_URL=redis://redis:6379
      - DATABASE_URL=postgres://postgres:postgres@postgres:5432/snapcart
    volumes:
      - ./apps/api:/app/
      - /app/node_modules
    ports:
      - "4000:4000"
    depends_on:
      - postgres
      - redis

#  web:
#    container_name: snapcart-web
#    build:
#      context: ./apps/web
#      dockerfile: Dockerfile.dev
#    volumes:
#      - ./apps/web:/app/apps/web
#      - /app/apps/web/node_modules
#    ports:
#      - "3000:5173"
#    depends_on:
#      - api

#  gateway:
#    container_name: snapcart-gateway
#    image: nginx:latest
#    volumes:
#      - ./infra/nginx/nginx.conf:/etc/nginx/nginx.conf
#    ports:
#      - "80:80"

volumes:
  mongo-data:
