services:
  api:
    container_name: snapcart-api
    image: rahil234/snapcart-api:latest
    platform: linux/amd64
    build:
      context: ./apps/api
      dockerfile: Dockerfile
    env_file:
      - ./apps/api/.env.production
